

.footer{
  width: 100%;
  height: 30px;
  background-color: var(--header-footer-color);
  bottom: 0;
  text-align: center;

}

p{
  text-align: center;
  font-size: 16px;
  color: #fff;
}

@media only screen and (width: 768px){
 .footer{
  position: fixed;
  height: 50px;
 }

}

@media only screen and (width: 1024px){
  .footer{
    position: fixed;
    height: 50px;
   }
}
