.background {
width: 100%;
height: 400px;
background-color: var(--header-footer-color);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.toogle{
  margin: 1rem;
  color: var(--toggle-font-color);
  background-color: var(--toggle-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Fira Code', monospace;
}

img {
  width: 150px;
  height: 150px;
}

.info {
display: block;
font-size: 20px;
color: #ffff;
text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  margin: 0 5px 0 5px;
  color: #ffff;
  background-color: var(--button-header-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Fira Code', monospace;
}

.button:hover {
  background-color: var(--button-hover-color);
  transform: translate(1px, 1px);
  transition: transform 0.2s;
}

.toogle:hover{
  background-color: var(--toggle-hover-color);
  transform: translate(1px, 1px);
  transition: transform 0.2s;
}
