$header-footer-color: #0687C7;
$header-footer-color-dark: #0000;
$background-color: #FFEEEC;
$background-color-dark:#1C1C1C;
$font-header-footer-color: #fff;
$button-header-color: #2BAD72;
$button-header-color-dark: #A9A9A9;
$button-hover-color: #00AD6B;
$button-hover-color-dark: #808080;
$exp-font-color: black;
$exp-font-color-dark: #F0FFFF;
$exp-title-color: #0687C7;
$exp-title-color-dark: #FFFAFA;
$toggle-color: #808080;
$toggle-color-dark: #FFEEEC;
$toggle-font-color: #fff;
$toggle-font-color-dark: black;
$toggle-hover-color: black;
$toggle-hover-color-dark: #A9A9A9;

$colors: (
  --header-footer-color: ($header-footer-color, $header-footer-color-dark),
  --background-color: ($background-color, $background-color-dark),
  --button-header-color: ($button-header-color, $button-header-color-dark),
  --button-hover-color: ($button-hover-color, $button-hover-color-dark),
  --exp-font-color: ($exp-font-color, $exp-font-color-dark),
  --exp-title-color-dark: ($exp-title-color,$exp-title-color-dark),
  --toggle-color: ($toggle-color, $toggle-color-dark),
  --toggle-font-color: ($toggle-font-color, $toggle-font-color-dark),
  --toggle-hover-color: ($toggle-hover-color, $toggle-hover-color-dark)
)
