@import "colors";

.theme-light {
  @each $name, $color in $colors{
    #{$name}: nth($color, 1);
  }
  background-color: var(--background-color);
  font-family: 'Fira Code', monospace;
  margin: 0;
}

.theme-dark {
  @each $name, $color in $colors{
    #{$name}: nth($color, 2);
  }
  background-color: var(--background-color);
  font-family: 'Fira Code', monospace;
  margin: 0;
}
