


<div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
  <img class="waves-up" src="../assets/svg (3).png" alt="">
   <div class="content">
    <div class="toggle">
      <img src="https://img.icons8.com/clouds/100/000000/smiling-sun.png"/>
      <mat-slide-toggle (change)=toggle() ></mat-slide-toggle>
      <img src="https://img.icons8.com/clouds/100/000000/bright-moon.png"/>
     </div>
      <img src="../assets/69506484cfd4faae5922a495bf186077-sticker.png" aria-hidden="true">
      <div class="title" [ngClass]="{'title-dark': !isOpen}">
        <p>Júlia Roldi</p>
        <p>Front-end Developer</p>
      </div>
      <div  class="icons">
        <img (click)=goToLink(github)  src="../assets/github-logo.svg" alt="Clique para github">
        <img (click)=goToLink(gmail)  src="../assets/gmail.svg" alt="Clique para gmail">
        <img (click)=goToLink(linkedIn)  src="../assets/linkedin (1).svg" alt="Clique para LinkedIn">
      </div>

   </div>
   <img class="waves-down" src="../assets/svg.png" alt="">
</div>


<router-outlet></router-outlet>
