<div class="container">
<div class="titles">
<div class="techs">
  <div class="title">
    <p>Tecnologias</p>
    <ul class="info">
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>HTML5</li>
      <li>CSS3/SASS</li>
      <li>Angular 2+</li>
      <li>React (iniciante)</li>
      <li>Git/Github/GitLab</li>
    </ul>
  </div>
</div>
<div class="formation">
  <div class="title">
    <p>Formação</p>
    <ul class="info">
    <li>Matemática - Universidade Federal do Espírito Santo</li>
    <li>Matemática - National University of Ireland Maynooth</li>
    <li>MBA em Engenharia de Software - FIAP</li>
    </ul>
  </div>
</div>
<div class="career">
   <div class="title"><p>Carreira</p></div>
   <ul class="info">
     <li>Engenheira de Software Mobile (Webview Angular) - Itaú Unibanco (2020 - atual) </li>
     <li>Desenvolvedora Front-End Angular - Everis (2019 - 2020)</li>
     <li>Desenvolvedora Front-End Angular - Accenture (2018 - 2019)</li>
   </ul>
  </div>
</div>
</div>
