.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 24px;
  color: var(--exp-title-color);
  font-weight: bold;
}

.info {
  font-size: 16px;
  color: var(--exp-font-color);
}

@media only screen and (max-width: 768px){
 .titles {
   padding: 16px;
 }
}
